@{
    ViewBag.Title = "Home Page";
}


<div id="catalogs-container">
    <span>Catalogs:</span>
    <div id="catalog">
        <div id="catalog-title"> </div>
    </div>
    </div>

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/underscore.js"></script>
<script src="~/Scripts/backbone.js"></script>
<script src="~/Scripts/bookmarkstore.js"</script>
